<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>caloriedonate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D74BA81F1F80ACB50060C4E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D74BA8361F80ACB60060C4E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D74BA8411F80ACB60060C4E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
